.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

object {
    width: 30rem;
    display: inline;
}


.block1, .block2, .block3 {
    border: 1px solid black;
    width: fit-content;
    margin-left: 10%;
    box-shadow: 30px 30px 10px darkslategray;
    margin-bottom: 50px;
}


